<footer class="rodape">
    <img src="img/logo.png" alt="">

    <div>
        <h4>CONTATOS</h4>
        <p>jogosgamer@email.com</p>
        <p>(11)99999.9999</p>
    </div>

    <div>
        <h4>CONTATOS</h4>
        <p>jogosgamer@email.com</p>
        <p>(11)99999.9999</p>
    </div>


    <div>
        <h4>SIGA NOSSAS REDES SOCIASI</h4>
        <br>
        <img src="../../../assets/img/redes_socias.png" alt="">
    </div>

    <form action="">
        <input id="campo-email" type="email" placeholder="E-mail" required>
        <button onclick="cadastrarNewsletter()">Cadastrar</button>                
    </form>
    

</footer>