<section class="formularios">
    <form action="" class="formulario" (ngSubmit) ="receberDados()">
        
        <div class="formulario__login">
            <h1>Já tenho Cadastro</h1><br>
            <label for="email">E-mail, CPF ou CNPJ*</label><br>
            <input type="email" id="email" name="email" maxlength="40" required autocomplete placeholder="Ex.: email@email.com" [(ngModel)]="userModel.email"><br>
            <label for="senha">Senha*</label><br>
            <input type="password" id="password" name="password" placeholder="Sua senha aqui.." [(ngModel)]="userModel.password" >
            <img src="../../../assets/img/olho.png" onclick="mouseoverPass();" onmouseout="mouseoutPass();"  id="olho" class="olho"/>
            <br> 
            <button>Entrar</button>
        </div>
       
        
        <div class="formulario__cadastro"> 
            <h1>Quero me Cadastrar</h1><br>
            <input type="email" name="" id="" placeholder="E-mail*"><br>
            <input type="password" name="" id="" placeholder="Crie sua senha*"><br>
            <input type="password" name="" id="" placeholder="Confirme sua senha*"><br>
            <input type="text" placeholder="CPF ou CNPJ"> <br>
            <input type="text" placeholder="CEP*"><br>
            <button>Cadastrar</button>
        </div>

    </form>        
</section>