<main>
    <!-- <section class="formularios"> -->
        <form action="" class="formulario" (ngSubmit) ="receberDados()">            
            
            <div class="formulario__login">
                <h2 class="titulo">Login do Cliente</h2>
                <p class="paragrafo">Veja seus pedidos de forma fácil, compre mais rápido </p>
                <p class="paragrafo secundario"> e tenha uma experiência personalizada :)</p>
                
                <label for="email">E-mail, CPF ou CNPJ*</label>
                <input type="email" id="email" name="email" maxlength="60" required autocomplete placeholder="Ex.: email@email.com" [(ngModel)]="userModel.email"><br>
                <label for="senha">Senha*</label>
                <input type="password" id="password" name="password" placeholder="Sua senha aqui.." [(ngModel)]="userModel.password" >
                <img src="../../../assets/img/olho.png" onclick="mouseoverPass();" onmouseout="mouseoutPass();"  id="olho" class="olho"/>
                <br> 
                <button class="botao">continuar</button>
            </div>

        </form>        
    <!-- </section> -->
    <p id="mensagem" *ngIf="mensagem != '' ">{{ mensagem }}</p>
</main>
<!-- <app-rodape></app-rodape> -->

        
<!--             
            
            <div class="formulario__cadastro"> 
                <h1 class="titulo">Quero me Cadastrar</h1><br>
                <input type="email" name="" id="" placeholder="E-mail*"><br>
                <input type="password" name="" id="" placeholder="Crie sua senha*"><br>
                <input type="password" name="" id="" placeholder="Confirme sua senha*"><br>
                <input type="text" placeholder="CPF ou CNPJ"> <br>
                <input type="text" placeholder="CEP*"><br>
                <button>Cadastrar</button>
            </div> -->

 