.formulario {
    display: flex;   
}

.formulario__login{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
  /* justify-content: space-between; */
}

input {
  width: 400px;
}

/* .conteudo__formulario {
    padding: 1rem;
    /* margin: 2rem;
}
 */


/* #myPassword {
    width: 182px;
    padding-right: 20px;
    margin-bottom: 2rem;
  } */
  
  .olho {
    cursor: pointer;
    left: 250px;
    position: absolute;
    width: 20px;
  }

  .titulo {
    color: #FA624D;
    font-size: 20px;
    margin-bottom: 30px;
    font-size: 2rem;
  }

  .botao {
    margin-top: 2rem;
    margin-bottom: 6rem;
    background-color: #FA624D;
    border-color: transparent;
    padding: auto 10rem auto 10rem;
    align-self: center;
    font-size: 20px;
  } 

  .botao:hover {
    background-color: #fa674de8;
    color: rgba(255, 255, 255, 0.836);
  }


  #mensagem {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    border: none;

  } 

  .paragrafo {
    margin-bottom: auto;
  }


  .secundario {
    margin-bottom: 20px;
    align-items: center;
    align-content: center;

  }