.formulario {
    display: flex;
    padding: 2rem;
    margin: 2rem;
    justify-content: space-between;    
}

.conteudo__formulario {
    padding: 1rem;
    margin: 2rem;
}

.formulario__login {
    padding: 2rem;
}

#myPassword {
    width: 182px;
    padding-right: 20px;
    margin-bottom: 2rem;
  }
  
  .olho {
    cursor: pointer;
    left: 250px;
    position: absolute;
    width: 20px;
  }

  .titulo {
    color: #FA624D;
  }

  