<header class="cabecalho">

    <div class="cabecalho__busca">
        <a href="index.html"><img src="../../../assets/img/logo.png" alt="logo"></a>             
        <input  class="pesquisa" type = "text" name="search" id="search" placeholder = "Faça sua Busca"> 
        <a routerLink = "/login"> <img  src="../../../assets/img/login.png" alt="imagem do login">Faça seu login ou <br> crie sua conta </a>    
        <a href="#"> <img src="../../../assets/img//sac.png" alt=""> </a>
        <a href="#"> <img src="../../../assets/img/favorite.png" alt=""> </a>
        <a href="#"> <img  src="../../../assets/img/shopping-cart.png" alt=""> </a>        
    </div>



        <nav class="cabecalho__menu navbar navbar-expand-lg cabecalho__menu ">
            <a class="navbar-brand" href="#">Lançamentos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end "  id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Destaques <span class="sr-only">(Página atual)</span></a>
                <a class="nav-item nav-link" href="#">Jogos</a>
                <a class="nav-item nav-link" href="#">Ofertas do Dia</a>
              </div>
            </div>
          </nav>
   
</header>   