

    <section class="jogos">
        <div class="jogo">
            <img class="jogos__imagem" src="../../../../assets/img/gta-v.jpg" alt="Foto do Jogo GTA-V">
            <div class="jogo__conteudo">
                <h4 class="jogo__titulo">GTA-V</h4>
                <p class="jogo__descricao"> Jogo de aventura</p>
                <p class="jogo_preco">R$ 9,99</p>
                <button class="jogo__botao">Comprar </button>
            </div>
        </div>    

        <div class="jogo">
            <img class="jogos__imagem" src="../../../../assets/img/fortnite.jpg" alt="Foto do Jogo Fortnite">
            <div class="jogo__conteudo">
                <h4 class="jogo__titulo"> FORTNITE</h4>
                <p class="jogo__descricao"> Jogo clássico</p>
                <p class="jogo_preco"> R$ 9,99</p>
                <button class="jogo__botao">Comprar</button>
            </div>
        </div>

        <div class="jogo">
            <img class="jogos__imagem" src="../../../../assets/img/cs-go.jpg" alt="Foto do Jogo CSS">
            <div class="jogo__conteudo">
                <h4 class="jogo__titulo"> CSS</h4>
                <p class="jogo__descricao"> Jogo clássico</p>
                <p class="jogo_preco"> R$ 9,99</p>
                <button class="jogo__botao">Comprar</button>
            </div>
        </div>

        <div class="jogo">
            <img class="jogos__imagem" src="../../../../assets/img/free-fire.jpg" alt="Foto do Jogo Fortnite">
            <div class="jogo__conteudo">
                <h4 class="jogo__titulo"> FREE-FIRE</h4>
                <p class="jogo__descricao"> Jogo clássico</p>
                <p class="jogo_preco"> R$ 9,99</p>
                <button class="jogo__botao">Comprar</button>
            </div>
        </div>


        <div class="jogo">
            <img class="jogos__imagem" src="../../../../assets/img/mario-kart.jpg" alt="Foto do Jogo Fortnite">
            <div class="jogo__conteudo">
                <h4 class="jogo__titulo"> MARIO KART</h4>
                <p class="jogo__descricao"> Jogo clássico</p>
                <p class="jogo_preco"> R$ 9,99</p>
                <button class="jogo__botao">Comprar</button>
            </div>
        </div>


        <div class="jogo">
            <img class="jogos__imagem" src="../../../../assets/img/thesims4.png" alt="Foto do Jogo Fortnite">
            <div class="jogo__conteudo">
                <h4 class="jogo__titulo"> THE SIMENS</h4>
                <p class="jogo__descricao"> Jogo clássico</p>
                <p class="jogo_preco"> R$ 9,99</p>
                <button class="jogo__botao">Comprar</button>
            </div>
        </div>

        <div class="jogo">
            <img class="jogos__imagem" src="../../../../assets/img/nba2k19.png" alt="Foto do Jogo Fortnite">
            <div class="jogo__conteudo">
                <h4 class="jogo__titulo"> NBA 2K</h4>
                <p class="jogo__descricao"> Jogo clássico</p>
                <p class="jogo_preco"> R$ 9,99</p>
                <button class="jogo__botao">Comprar</button>
            </div>
        </div>

        <div class="jogo">
            <img class="jogos__imagem" src="../../../../assets/img/pubg.jpg" alt="Foto do Jogo Fortnite">
            <div class="jogo__conteudo">
                <h4 class="jogo__titulo"> PUBG</h4>
                <p class="jogo__descricao"> Jogo clássico</p>
                <p class="jogo_preco"> R$ 9,99</p>
                <button class="jogo__botao">Comprar</button>
            </div>
        </div>


        
        <div class="jogo">
            <img class="jogos__imagem" src="../../../../assets/img/mario-kart.jpg" alt="Foto do Jogo Fortnite">
            <div class="jogo__conteudo">
                <h4 class="jogo__titulo"> MARIO KART</h4>
                <p class="jogo__descricao"> Jogo clássico</p>
                <p class="jogo_preco"> R$ 9,99</p>
                <button class="jogo__botao">Comprar</button>
            </div>
        </div>


        <div class="jogo">
            <img class="jogos__imagem" src="../../../../assets/img/thesims4.png" alt="Foto do Jogo Fortnite">
            <div class="jogo__conteudo">
                <h4 class="jogo__titulo"> THE SIMENS</h4>
                <p class="jogo__descricao"> Jogo clássico</p>
                <p class="jogo_preco"> R$ 9,99</p>
                <button class="jogo__botao">Comprar</button>
            </div>
        </div>

        <div class="jogo">
            <img class="jogos__imagem" src="../../../../assets/img/nba2k19.png" alt="Foto do Jogo Fortnite">
            <div class="jogo__conteudo">
                <h4 class="jogo__titulo"> NBA 2K</h4>
                <p class="jogo__descricao"> Jogo clássico</p>
                <p class="jogo_preco"> R$ 9,99</p>
                <button class="jogo__botao">Comprar</button>
            </div>
        </div>

        <div class="jogo">
            <img class="jogos__imagem" src="../../../../assets/img/pubg.jpg" alt="Foto do Jogo Fortnite">
            <div class="jogo__conteudo">
                <h4 class="jogo__titulo"> PUBG</h4>
                <p class="jogo__descricao"> Jogo clássico</p>
                <p class="jogo_preco"> R$ 9,99</p>
                <button class="jogo__botao">Comprar</button>
            </div>
        </div>
    </section>